.post_container {
  display: flex;
  gap: 25px;
}

.post_description {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.069rem;
  padding: 0 1.3rem;
  text-align: justify;
  @media (max-width: 1280px) {
    word-break: break-word;
  }
}

.post_description h1 {
  margin-bottom: 20px;
  @media (max-width: 1280px) {
    word-break: break-word;
  }
}

.post_description p {
  margin-bottom: 20px;
  @media (max-width: 1280px) {
    word-break: break-word;
  }
}
