.playlist_container {
  @apply flex h-600 py-8 w-full;
  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
  }
}

.playlist_iframe {
  @apply w-4/5;
  @media (max-width: 768px) {
    height: 400px;
    width: 100%;
    margin-bottom: 70px;
  }
}

.playlist_iframe h2 {
  font-size: larger;
  text-transform: uppercase;
}

.playlist_iframe h2:hover {
  color: red;
  cursor: pointer;
}

.playlist_list {
  @apply w-3/5 overflow-scroll;

  @media (max-width: 768px) {
    overflow: unset;
    width: auto;
  }
}

.playlist_container ul {
  @apply p-0;
}

.wrapper_list {
  @apply flex items-center border border-solid mb-2.5 mr-5;
  justify-content: space-between;
  padding: 20px;
  @media (max-width: 768px) {
    margin-left: 20px;
  }
}

.wrapper_list:hover {
  transform: scale(0.9);
}

.wrapper_list li {
  width: 150px;
}

.wrapper_list iframe {
  @media (max-width: 768px) {
    height: 150px;
    width: 200px;
  }

  @media (max-width: 480px) {
    height: 100px;
    width: 150px;
  }
}

.wrapper_list_title {
  @media (max-width: 768px) {
    width: 220px;
  }

  @media (max-width: 480px) {
    width: 150px;
  }
}

.wrapper_list p {
  @apply text-base text-center p-0;

  @media (max-width: 768px) {
    font-size: large;
    font-weight: bold;
    margin-bottom: 0;
  }
}
