.hero__card_container {
  @apply flex flex-col relative cursor-pointer my-2;
  border: 2px solid #ef4444;
  width: 310px;
  @media (max-width: 1024px) {
    width: 300px;
  }

  @media (max-width: 980px) {
    width: 450px;
  }

  @media (max-width: 768px) {
    width: 450px;
  }

  @media (max-width: 480px) {
    width: 300px;
  }
}

.hero__card_container::after,
.hero__card_container::before {
  @apply absolute w-5 h-5;
  content: '';
  transition: 0.3s ease-in-out;
}

.hero__card_container::before {
  top: -6px;
  left: -6px;
  border-top: 2px solid #ef4444;
  border-left: 2px solid #ef4444;
}

.hero__card_container::after {
  right: -6px;
  bottom: -6px;
  border-bottom: 2px solid #ef4444;
  border-right: 2px solid #ef4444;
}

.hero__card_container:hover::before,
.hero__card_container:hover::after {
  width: calc(100% + 9px);
  height: calc(100% + 9px);
}

.hero__card_content {
  @apply w-full;
  min-height: 100px;
}

.hero__card_title {
  @apply text-justify flex items-center justify-center p-5;
}
