.card_container {
  width: 100%;
  max-width: 400px;
  margin: 2em auto;
  background-color: hsl(216, 50%, 16%);
  border-radius: 15px;
  border: 1px solid #fff;
  margin-bottom: 1rem;
  padding: 2rem;
  color: #fff;
  cursor: pointer;
}

.card_container:hover {
  color: #ef4444;
  border: 1px solid #ef4444;
  transform: scale(0.9);
}

.hero_image_container {
  position: relative;
  display: block;
}

.hero_image {
  width: 100%;
  border-radius: 15px;
  display: block;
}

.main_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px auto;
}

.card_title {
  padding: 0;
}

.card_attribute {
  display: flex;
  align-items: center;
  padding: 1em 0;
  border-top: 2px solid hsl(215, 32%, 27%);
}

.small_avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 25px;
  outline: 2px solid white;
  margin-right: 1.4em;
}
