@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

.card_container {
  width: 100%;
  max-width: 400px;
  margin: 2em auto;
  background-color: hsl(216, 50%, 16%);
  border-radius: 15px;
  border: 1px solid #fff;
  margin-bottom: 1rem;
  padding: 2rem;
  color: #fff;
  cursor: pointer;
}

.card_container:hover {
  color: #ef4444;
  border: 1px solid #ef4444;
  transform: scale(0.9);
}

.flex_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coin_base,
.time_left,
.card_attribute {
  display: flex;
  align-items: center;
  padding: 1em 0;
}

.card_attribute {
  padding-bottom: 1.5em;
  border-top: 2px solid hsl(215, 32%, 27%);
}

.hero_image {
  width: 100%;
  border-radius: 15px;
  display: block;
}

.hero_image_container {
  position: relative;
  display: block;
}

.small_image {
  width: 1.2em;
  margin-right: 0.5em;
}

.small_avatar {
  width: 2em;
  border-radius: 200px;
  outline: 2px solid white;
  margin-right: 1.4em;
}

.attribution {
  margin: 0 auto;
  width: 100%;
  font:
    normal normal 300 1em/1.55em 'Outfit',
    sans-serif;
  text-align: center;
  padding: 1.5em 0 4em 0;
  color: hsl(215, 32%, 27%);
}

.main_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px auto;
}

.card_title {
  padding: 0;
}
