.card_container {
  max-width: 340px;
  border: 1px solid #fff;
  cursor: pointer;
}

.card_container:hover {
  color: #ef4444;
  border: 2px solid #ef4444;
  transform: scale(0.9);
}

.hero_image_container {
  position: relative;
  display: block;
}

.hero_image {
  width: 100%;
  display: block;
}

.main_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
}

.card_subtitle {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 1px;

  @supports (-webkit-line-clamp: 6) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
  }
}


.card_title {
  padding: 0;
}

.card_attribute {
  display: flex;
  align-items: center;
  padding: 1em 0;
  border-top: 2px solid hsl(215, 32%, 27%);
}

.small_avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 25px;
  outline: 1px solid #fff;
  margin: 0 1rem;
}
