.navbar {
  @apply fixed z-50 flex w-full justify-around h-20 p-1 bg-black top-0;
}

.navbar__link {
  @apply text-white hover:text-red-500 font-bold;
}

.navbar__unordered_list {
  @apply flex items-center;
}
