.navbar {
  @apply top-0 z-50 flex justify-around w-full h-20 p-1 bg-black;
}

.navbar__link {
  @apply font-bold text-white hover:text-red-500;
}

.navbar__unordered_list {
  @apply flex items-center;
}
