.card_container {
  display: flex;
  flex-direction: column;
  max-width: 940px;
  margin: 2em auto;
  border: 1px solid #fff;
  cursor: pointer;
}

.card_container:hover {
  border: 2px solid #ef4444;
}

.hero_image {
  width: 100%;
  display: block;
}

.main_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 40px 20px;
}

.card_title {
  padding: 0;
}

.card_author_atributes {
  display: flex;
  align-items: center;
}

.small_avatar {
  width: 3em;
  height: 3em;
  border-radius: 35px;
  outline: 1px solid white;
  margin-right: 1.4em;
}


