.recomended_posts_title {
  @apply py-4 px-5;
}

.recomended_posts_card {
  @apply grid grid-cols-2 gap-4;
  @media (max-width: 1024px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.recomended_posts_body {
  @apply flex flex-row;
  margin: 0 20px;
  @media (max-width: 1024px) {
    justify-content: center;
  }

  @media (max-width: 768px) {
    height: 150px;
  }
}

.recomended_posts_image {
  height: 100%;
}

.recomended_posts_wrapper_disclaimer {
  @apply bg-red-500;

  @media (max-width: 1024px) {
    width: 400px;
  }
}

.recomended_posts_wrapper_disclaimer p {
  @apply font-bold;

  @media (max-width: 768px) {
    margin: 0.2rem;
    font-size: 1.1rem;
  }
}
