body {
  background-color: rgb(244, 244, 244);
  line-height: 1;
  font-size: 100%;
  font-family: --apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

img.next-image {
  margin: 0;
}

#full-menu {
  position: relative;
  top: 0;
  display: flex;
  @media (max-width: 1024px) {
    display: none;
  }
}

#icon-menu {
  display: none;
  @media (max-width: 1024px) {
    display: flex;
  }
}

.grid__main_aside {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  min-width: 20%;
  height: min-content;
  @media (max-width: 780px) {
    display: none;
  }
}
