@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50
      dark:bg-zinc-800

      text-gray-900
      dark:text-gray-50

      shadow-black
      dark:shadow-white

      transition-colors;
  }
}
