.grid__wrapper {
  position: relative;
  margin: 0 auto 20px;
  padding: 2rem 0;
  max-width: 65%;
  @media (max-width: 1024px) {
    max-width: 100%;
  }
}

.grid__wrapper p,
h1,
h2,
h3,
h4,
ul,
ol,
.tags,
iframe,
.button-post {
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: 0.069rem;
  padding: 0 1.4rem;
  @media (max-width: 1280px) {
    word-break: break-word;
  }
}

.grid__wrapper p {
  margin: 1.5rem auto;
}

.grid__wrapper h1,
h2,
h3,
h4,
h5 {
  color: var(--title-color);
}

.grid__wrapper li {
  padding: 0.625rem 0;
}

.grid__wrapper li > ul {
  margin-bottom: 0;
}

.grid__wrapper p,
li > code {
  word-wrap: break-word;
}

.grid__wrapper img {
  display: block;
  max-width: 100%;
}

.grid__wrapper iframe {
  padding: 0 1.6rem 1.6rem;
  width: 100%;
  @media (max-width: 1280px) {
    padding: 0 1rem;
  }
}

.grid__wrapper blockquote {
  color: var(--primary-color);
  padding: 0 1.875rem;
  margin: 3.125rem auto;
}

.grid__wrapper hr {
  margin: 3rem auto;
}

.grid__wrapper h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
  letter-spacing: 0.069rem;
  line-height: 1.4;
}

.grid__wrapper h1 {
  font-size: 2.8rem;
  @media (max-width: 1280px) {
    font-size: 1.875rem;
  }
}

.grid__wrapper h2 {
  font-size: 1rem;
  @media (max-width: 1280px) {
    font-size: 1.375rem;
  }
}

.grid__wrapper h3 {
  font-size: 1.6rem;
  @media (max-width: 1280px) {
    font-size: 1.125rem;
  }
}

.grid__wrapper h4 {
  font-size: 1.4rem;
}

.grid__wrapper h5 {
  font-size: 1.2rem;
}

.grid__wrapper strong {
  font-weight: 700;
}

.grid__wrapper a {
  -webkit-text-stroke-width: 1px;
  text-decoration: none;
  transition: opacity 0.5s;
}

.grid__wrapper a:hover {
  opacity: 0.8;
}

.main_wrapper {
  position: relative;
  margin: 0 auto 20px;
  padding: 2rem 0;
  max-width: 65%;
  @media (max-width: 1280px) {
    padding: 2rem 0;
  }
  @media (max-width: 768px) {
    max-width: 85%;
  }
}

.card_grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
